<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Squeaker</title>
</head>
<body>
<#list messages as message><p>${message.content}</p></#list>
</body>
</html>
